modal-contact{
    .modal-button{
        width: 170px; 
        margin: auto;
        margin-top: 5px;
    }

    .input-message{
        width: 170px; 
        margin: auto;
        text-align: left;
    }

    .warn{
        color: red;
    }
}


