page-login {
    div.logo {
        text-align: center;
    }

    div.full {
        height: 100%;
        width: 100%;
        position: relative;
    }

    div.login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div.registerlink{
        text-align: center;
    }
    a {
    color: #00274C;
    }
    div.emailfield{
        padding-bottom:  10px;
    }

    div.passwordfield{
        padding-bottom: 5px;
    }
}
