<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Work-to-students</h3>
  <div class="login" align='center'>
    <label class="item item-input">
        <input type="text" placeholder="Benutzername" ng-model="data.username">
    </label>
    <br>
    <label class="item item-input">
        <input type="password" placeholder="Passwort" ng-model="data.password">
    </label>
</div>
<button class="button login" ion-button color="primary" ng-click="login()" block>LOGIN</button>
</ion-content>
