page-login {
    
    .top{
        margin-top: 25px;
        text-align: center;        
    }
    
    .middle{
        font-size: 130%;
        margin: auto;
        margin-top: 25%;
        width: 80%;

    }

    label {
        align-content: center;
    }

    .bottom{
        height: 10%;
        width: 100%;
        position: fixed;
        bottom: 10px;
        margin: 0 auto;
        float: left;
        padding-right: 20px;
    }

    .logo {
        padding-top: 20px;
        text-align: center;
    }

    .padded{
        padding: 10px;
    }

    .full {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .registerlink{
        text-align: center;
    }

    a {
        font-size: 120%;
        color: #00274C;
    }

    .emailfield{
        width: 100%;
        padding-bottom:  10px;
        
    }

    .passwordfield{
        width: 100%;
        vertical-align: middle;
        padding-bottom: 10px;
    }

    .button{
        height: 60%;
        font-size: 150%;
        margin-bottom: 5px;
        background-color: #002b4d;
    }
}
