<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>
  <div class="list list-inset">
    <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="data.username">
    </label>
    <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
    </label>
</div>
<button class="button button-block button-calm" ng-click="login()">Login</button>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
