div.message{
    height: 70px;
    width: 100%;
    top:0;
    left:0;
    background-color: #002b4d;
    display: inline-flex;
    // display: inline;
}

div.imageContainer{
    height: 100%;
    width: 70px;
    padding: 10px;
    background-color: gold;
}

div.image{
    width: 100%;
    height: 100%;
    position: relative;
}

.userName{

}

.text{

}

.dateTime{

}