<div class="full">
  <ion-header class="header">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{ 'MESSAGE' | translate }}</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let item of users;">
        <ion-item ion-item (click)="openMessage(item)">
          <ion-avatar item-start>
            <img src='{{item.imgSource}}' alt="your image">
          </ion-avatar>
          <div class="icon-div">
            <h2>{{item.userName}}</h2>
            <ion-icon class="icon-alignment" *ngIf="!item.read" name="mail"></ion-icon>
            <ion-icon class="icon-alignment" *ngIf="item.read" name="mail-open"></ion-icon>
          </div>
          <div>
            <p>{{item.dateTime}}</p>
          </div>

        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</div>