page-map {

    .scroll{height: 100%;}

    div.full {
        min-height: 100%;
        width: 100%;
        position: relative;
    }

    div.button {
        width: 100%;
        position: relative;
    }

    div.map {
        height: calc(100% - 50px);
        width: 100%;
        position: relative;
    }

    iframe{
        height: 100%;
        width: 100%;
    }
}
