<div class="full">
  <ion-header class="header">
    <ion-navbar>{{'LISTSEARCHPAGE' | translate}}
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
    <ion-toolbar>
      <ion-item>
        <ion-label>{{'USERGROUP' | translate}}</ion-label>
        <ion-select [(ngModel)]="searchObject">
          <ion-option value="Student" >{{'STUDENT' | translate}}</ion-option>
          <ion-option value="University">{{'UNIVERSITY' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="searchObject === 'Student'">
        <ion-label>{{'SEARCHPARAMETER' | translate}}</ion-label>
        <ion-select [(ngModel)]="searchParameterStudent">
          <ion-option value="Name">{{'NAME' | translate}}</ion-option>
          <ion-option value="Abschluss">{{'DEGREE' | translate}}</ion-option>
          <ion-option value="Studiengang">{{'STUDYPROGRAM' | translate}}</ion-option>
          <ion-option value="Vertiefung">{{'SPECIALIZATION' | translate}}</ion-option>
          <ion-option value="Uni">{{'UNIVERSITY' | translate}}</ion-option>
          <ion-option value="Beschäftigung">{{'EMPLOYMENT' | translate}}</ion-option>
          <ion-option value="Semester">{{'SEMESTER' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="searchObject === 'University'">
          <ion-label>{{'SEARCHPARAMETER' | translate}}</ion-label>
          <ion-select [(ngModel)]="searchParameterUniversity">
            <ion-option value="Universität">{{'NAME' | translate}}</ion-option>
            <ion-option value="Fachrichtungen">{{'SPECIALISATION' | translate}}</ion-option>
          </ion-select>
        </ion-item>
      <ion-searchbar [(ngModel)]="filter" [showCancelButton]="shouldShowCancel" (ionInput)="search($event)" (ionCancel)="onCancel($event)"
        aria-autocomplete="On" (debounce)=1000 placeholder="{{'SEARCH' | translate}}">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <ion-list>
      <ion-item *ngFor="let item of result;">
        <ion-item ion-item (click)="navigateToUserProfile(item.id)">
          <ion-avatar item-start>
            <img src='assets/img/dog.jpeg' alt="your image">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <p>{{item.discription}}</p>
        </ion-item>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>