<div class="full">
    <ion-header class="header">
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>{{ 'MESSAGE' | translate }}</ion-title>
        </ion-navbar>
    </ion-header>


    <ion-content #content class="no-scroll">
        <div class="main_bar">
            <div class="image_container">
                <div class="image_bar">
                    <ion-avatar item-start>
                        <img src='assets/img/dog.jpeg'>
                    </ion-avatar>
                </div>
            </div>

            <div class="title_bar">
                <ion-label #userName></ion-label>
            </div>
        </div>

        <div #scrollView class="message_content">
                <div *ngFor="let item of messages;">
                    <ion-label *ngIf="!item.isOwner" class="txt">{{item.text}}</ion-label>
                    <ion-label *ngIf="item.isOwner" class="txt_owner">{{item.text}}</ion-label>
                </div>
        </div>


        <div class="text_bar">

            <ion-input [(ngModel)]="message" placeholder="type message" type="text" class="message"></ion-input>
            <div class="img_container">
                <div class="send_bar">
                    <ion-avatar item-start>
                        <img (click)="send()" src='assets/img/send_icon.png'>
                    </ion-avatar>
                </div>
            </div>
        </div>
    </ion-content>
</div>