.block-address{
    padding: 10px;
    background-color: pink;
}

.content-visibility{

}

.list{
    background-color: brown;
}

.block-lbl{
    display:inline-flex;
    width: 100%;
    background-color: brown;
}

.block-dropdown-icon{
    width: 10%;
    position: relative;
    background-color: aqua;
}

// .dropdown-image{
//     background-color: cadetblue;
// }