.padded{
    padding: 5px;
    background-color: #E5E9ED;
}

.block{
    padding: 10px;
}

.block-lbl{
    display:inline-flex;
    width: 100%;
}

.block-dropdown-icon{
    width: 8%;
    position: relative;
}

.dropdown-image{
    width: 100%;
    margin-top: 35%;
    margin-bottom: 35%;
}

.separator{
    border-top: 1px solid #bfbfbf;
}