<div class="full">
    <ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
        </ion-navbar>
    </ion-header>


    <ion-content>

        <div class="block">
            <div class="block-lbl" (click)="toggleBlock(0)">
                <ion-label color="wts_blue">Personal</ion-label>
                <ion-avatar class="block-dropdown-icon" item-start>
                    <img class="dropdown-image" src='assets/icon/dropdown.png' alt="your image">
                </ion-avatar>
            </div>

            <ion-list class="list" *ngIf="personalToggled">
                <ion-item>
                    <ion-label>Students</ion-label>
                    <ion-toggle [(ngModel)]="toggle1" (ionChange)="changeSetting(1)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Companies</ion-label>
                    <ion-toggle [(ngModel)]="toggle2" (ionChange)="changeSetting(2)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Universities</ion-label>
                    <ion-toggle [(ngModel)]="toggle3" (ionChange)="changeSetting(3)"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

        <div class="block">
            <div class="block-lbl" (click)="toggleBlock(1)">
                <ion-label color="wts_blue">Study</ion-label>
                <ion-avatar class="block-dropdown-icon" item-start>
                    <img class="dropdown-image" src='assets/icon/dropdown.png' alt="your image">
                </ion-avatar>
            </div>

            <ion-list class="list" *ngIf="studyToggled">
                <ion-item>
                    <ion-label>Students</ion-label>
                    <ion-toggle [(ngModel)]="toggle1" (ionChange)="changeSetting(1)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Companies</ion-label>
                    <ion-toggle [(ngModel)]="toggle2" (ionChange)="changeSetting(2)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Universities</ion-label>
                    <ion-toggle [(ngModel)]="toggle3" (ionChange)="changeSetting(3)"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

        <div class="block">
            <div class="block-lbl" (click)="toggleBlock(2)">
                <ion-label color="wts_blue">Address</ion-label>
                <ion-avatar class="block-dropdown-icon" item-start>
                    <img class="dropdown-image" src='assets/icon/dropdown.png' alt="your image">
                </ion-avatar>
            </div>

            <ion-list class="list" *ngIf="addressToggled">
                <ion-item>
                    <ion-label>Students</ion-label>
                    <ion-toggle [(ngModel)]="toggle1" (ionChange)="changeSetting(1)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Companies</ion-label>
                    <ion-toggle [(ngModel)]="toggle2" (ionChange)="changeSetting(2)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Universities</ion-label>
                    <ion-toggle [(ngModel)]="toggle3" (ionChange)="changeSetting(3)"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

        <div class="block">
            <div class="block-lbl" (click)="toggleBlock(3)">
                <ion-label color="wts_blue">Email</ion-label>
                <ion-avatar class="block-dropdown-icon" item-start>
                    <img class="dropdown-image" src='assets/icon/dropdown.png' alt="your image">
                </ion-avatar>
            </div>

            <ion-list class="list" *ngIf="emailToggled">
                <ion-item>
                    <ion-label>Students</ion-label>
                    <ion-toggle [(ngModel)]="toggle1" (ionChange)="changeSetting(1)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Companies</ion-label>
                    <ion-toggle [(ngModel)]="toggle2" (ionChange)="changeSetting(2)"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Universities</ion-label>
                    <ion-toggle [(ngModel)]="toggle3" (ionChange)="changeSetting(3)"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</div>