page-settings {
    
        div.full {
            height: 100%;
            width: 100%;
            position: relative;
        }
        .space{
            padding: 5px;
        }

        .setting-label{
            padding-left: 15px;
            font-size: 15px;
            color: #6e737a;
        }
    }